.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.modal{

    width:520px;

    background:white;

    border-radius:18px;

    padding:30px;

    animation:popup .25s ease;

}

.modal h2{

    text-align:center;

    margin-bottom:25px;

    color:#2563EB;

}

.modal form{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.modal input,
.modal select{

    padding:13px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:15px;

    outline:none;

}

.modal input:focus,
.modal select:focus{

    border-color:#2563EB;

}

.modal-buttons{

    display:flex;

    justify-content:flex-end;

    gap:15px;

    margin-top:15px;

}

.cancel-btn{

    background:#ef4444;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:10px;

    cursor:pointer;

}

.save-btn{

    background:#2563EB;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:10px;

    cursor:pointer;

}

@keyframes popup{

    from{

        opacity:0;

        transform:scale(.9);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}